<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block head_scripts %}{% endblock head_scripts %}
    {% block head_styles %}{% endblock head_styles %}
</head>

<body>
    <nav>
        <a href="{% url 'pages:home' %}">home</a>
        <br>
        <a href="{% url 'pages:about' %}">about</a>
    </nav>
    <br>
    <nav>Menu</nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>Pied de Page</footer>

    {% block bottom_scripts %}{% endblock bottom_scripts %}
</body>

</html>